<!-- Hamburger Icon -->
<a class="hamburger" href="#menu" aria-label="menu">
    <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M4 18L20 18" stroke="#ffff" stroke-width="2" stroke-linecap="round"></path> <path d="M4 12L20 12" stroke="#ffff" stroke-width="2" stroke-linecap="round"></path> <path d="M4 6L20 6" stroke="#ffff" stroke-width="2" stroke-linecap="round"></path> </g></svg>
  </a>
  
  <!-- Close Button -->
  <a class="close" href="#" aria-label="close">
    <svg viewBox="-0.5 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
      <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
      <g id="SVGRepo_iconCarrier">
        <path d="M3 21.32L21 3.32001" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
        <path d="M3 3.32001L21 21.32" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
      </g>
    </svg>
  </a>
  
  <!-- Navigation Menu -->
  <nav id="menu">
    <ul>
      <li><a href="/" aria-label="go to home page"><img src="/images/home.svg" alt="home button"><p>Home</p></a></li>
      <li><a href="#" aria-label="go to test page"><img src="/images/extension-puzzle-outline.svg" alt="test button"><p>Testing</p></a></li>
      <li><a href="/lessons" aria-label="go to lessons page"><img src="/images/book-outline.svg" alt="lessons button"><p>Lessons</p></a></li>
      <li><a href="#" aria-label="go to statistic page"><img src="/images/bar-chart-outline.svg" alt="statistics button"><p>Statistics</p></a></li>
      <li><a href="#" aria-label="go to profile page"><img src="/images/person-outline.svg" alt="profile button"><p>Profile</p></a></li>
    </ul>
  </nav>
  