<%- include('partials/head') %>

<section class="home-mouse">

    <div class="home-top">
      <h2>Today's listening</h2>
      <h2>00:00</h2>
      <p>of your 5 minute goal</p>
      <div class="cta">
        <p>Goodmorning,<br>
          Shall we start with a story?
        </p>
        <a href="/lessons" aria-label="go to overview page"><li class="test"> <p>Let's do it!</p></li></a>
      </div>

    </div>
    <div class="home-bottom">
      <img src="/images/couch.svg" class="couch" alt="couch">
      <img src="/images/carpet.svg" class="carpet" alt="carpet">
      <img src="/images/mouse.svg" class="mouse" alt="mouse">
    </div>
</section>
  <%- include('partials/foot') %>
