@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    /*colors*/
        /* general colors */
        --white: #fff;
        --black: #000;
        /* different screens */
        --method: linear-gradient(#471871, #142151);
        --statistics: linear-gradient(#219B9B, #1B7070);
        --testing: linear-gradient(#21599B, #1B3D70);
        --profile: linear-gradient(#F0775D, #B45751);
        /* menu buttons */

        /*play button*/
        --play-blue: #3A54DE;
        --play-orange: #FF8C59;

        /*create playlist*/
        --method-playlist: rgba(73, 67, 117, 0.5);
        --black-tranparent: rgba(0, 0, 0, 0.9);
        --general-button: #9264F4;

        /*homepage*/
        --ground: #D4AF76;
        --homepage: linear-gradient(#3f93b7, #1C5872);
        --cta-button: #954BE2;

    /*fonts*/
      /*family*/
      --text: 'Poppins', 'Helvetica', Sans-Serif;

      /*sizes*/
      --h1: 2rem;
      --h2: 1.5rem;
      --p: 1rem;

      /*padding*/
      --padding-1: 1rem;
      --padding-cards: 1.5rem;

      /*width heights*/
      --max-w: 100vw;
      --max-h: 100vh;
}
/*start general styling*/
body {
    font-family: var(--text);
    color: var(--white);
}

h1{
    font-family: var(--text);
    font-size: var(--h1);
}
h2{
    font-size:var(--h2);
}

p{
    font-size:var(--p);
}
.general-button{
    background-color: var(--general-button);
    padding: 0.5rem;
    color: var(--white);
    border: none;
    border-radius: 5px;
}
img { max-width: 100%; height: auto; }
/*end general styling*/

/* CSS for navigation menu */
nav {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black-tranparent);
    z-index: 100;
    position: fixed;
    inset: 0;
    bottom: 0; 
    right: 0; 
    transition: transform 0.5s ease-out; 
    transform: translateY(100%); 
}

/* Show the navigation menu when it is targeted */
nav:target {
    transform: translateY(0); /* Show the nav by moving it to the top */
}

nav ul {
    display: grid;
    grid-template-columns: auto auto;
    gap: 2.5rem;
    padding: 0; /* Remove default padding */
}

nav ul li {
    padding: 10px 0;
    font-size: 22px;
    list-style: none;
    cursor: pointer;
}

nav ul li a{
    text-decoration: none;
    color: var(--white);
    transition: color 0.3s ease;
    text-align: center;
}
nav ul li img{
    padding: var(--padding-1);
    border-radius: 5px;
    width: auto;
    height: 100%;
}
nav ul li:nth-child(1) img{
    background: #3F92B6;
}
nav ul li:nth-child(2) img{
    background: #599AE7;
}
nav ul li:nth-child(3) img{
    background: #954BE2;
}
nav ul li:nth-child(4) img{
    background: #06A192;
}
nav ul li:nth-child(5) img{
    background: #FD8C73;
}

a.hamburger {
    position: fixed;
    background-color: var(--black-tranparent);
    padding: var(--padding-1);
    border-radius: 5px;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 200;
}

a.hamburger svg {
    width: 30px;
    height: 30px;
    fill: #fff;
}

.close {
    display: none; 
}


nav:target + .hamburger {
    display: none;
}

nav:target + .close {
    display: block;
}

/*end nav styling*/

/*lessons page styling*/

.lessons-story{
    background: var(--method);
    padding: var(--padding-1);
}

.lessons-story h1{
    text-align: center;
}

/*playlist styling start*/
.playlists-story{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: var(--padding-1);
    grid-row-gap: 0px;
}
.playlists-story .suggested{
    grid-template-rows: repeat(2, 1fr);
}
.own-playlist{
    background-color: var(--white);
    padding: var(--padding-1);
    width: 100%;
    margin-bottom: var(--padding-1);
    border-radius: 5px;
    margin-right: 1rem;
}

.own-playlist a {
    text-decoration: none;
    color: var(--black);
}

.own-playlist img{
    width: 100%;

}

.own-playlist .languagebutton{
    border-radius: 5px;
    border: none;
    padding: 0.5em;
    display: flex;
    cursor: pointer;
}

.own-playlist svg{
    display: inline-block;
    justify-self: center;
}

.own-playlist .time{
    display: inline-block;
}
.create-playlist{
    background-color: var( --method-playlist);
    color: var(--white);
    border: none;
}
.button-row{
    display: flex;
    align-items: center;
    margin-bottom: var(--padding-1);
}
.languagebutton:nth-of-type(1){
    background-color: var(--method-playlist);
    color: var(--white);
}
.languagebutton:nth-of-type(2){
    margin-left: var(--padding-1);
}
.button-row img{
    width: 20px;
    margin-right: 5px;
}
.show-all-button{
    margin-left: 2rem;
    text-decoration: none;
    color: var(--white);    
}
/*playlist styling end*/

.story-card{
    background-color: var(--white);
    padding: var(--padding-1);
    border-radius: 10px;
    color: var(--black);
    height: 190px;
    margin-bottom: var(--padding-1);
    overflow: hidden;
}
.story-card img {
        padding-right: var(--padding-1);
        height: 100%;
        width: auto;
        max-width: 35%;
        border-radius: 5px;
        float: left;
    }
.story-card .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.story-grid .story-card:nth-child(n + 4) {
    display: none;
}

.popup-create {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
    color: var(--black);
}
fieldset{
    color: var(--black);
}

.popup-create-content{
    background-color: #fefefe;
    margin: 5% auto; 
    padding: 20px;
    border-radius: 5px;
    width: 80%; 
}

.close-create {
    color: var(--black);
    float: right;
    font-size: var(--p);
    font-weight: bold;
    border: none;
    background-color: transparent;
}
.close-create:hover,
.close-create:focus {
    color: var(--general-button);
    text-decoration: none;
    cursor: pointer;
}

/*desktop*/
@media screen and (min-width: 720px) {
    .lessons-story{
        .playlists-story {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(1, 1fr);
        }
    }
}
/*end lessons page styling*/

/*homepage*/
.home-mouse{
    height: 100vh;
    width: 100vw;
}

.home-top{
    background: var(--homepage);
    height: 70vh;
    text-align: center;
}

.home-bottom{
    background: var(--ground);
    height: 30vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.couch{
    position: absolute;
    width: 90%;
    height: auto;
    bottom: 20%;
    z-index: 5;
}

.carpet{
    position: absolute;
    width: 70%;
    height: auto;
    bottom: 1%;
    z-index: 4;
}
.mouse{
    z-index: 6;
    position: absolute;
    width: 60%;
    bottom: 7%;
    right: 5%;
}
.cta{
    z-index: 8;
    text-align: left;
    top: 8em;
    margin-left: 8em;
    color: var(--black);
    position: relative;
    background-color: #fff;
    padding: 10px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.cta::after{
  content: '';
  position: absolute;
  right: 20px;
  border-style: solid;
  border-width: 50px 50px 0 0;
  border-color: #fff transparent transparent transparent;
}

.cta a{
    list-style: none;
    text-decoration: none;
    color: var(--white);
    text-align: center;
}
.cta li{
    background-color: var(--cta-button);
    padding: 0.5em;
    width: 100%;
    border-radius: 10px;
}
/*homepage end*/

/*all stories styling*/
.search{
    width: 70vw;
    border-radius: 7px;
    padding: 0.5rem;
    margin-bottom: var(--padding-1);
    border: none;
}
.sorting{
    margin-bottom: var(--padding-1);
}
.sorting a{
    text-decoration: none;
    text-align: center;
}

/*all stories styling end*/